@import "tailwindcss";

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
